@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #FCB900;
    --secondary: #FFFFFF;
    --thirty-n: #000000;

    --text-h: 4.8em;
    --text-p: 1.2em;

}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--text-p);
}   
a{
    display: inline-block;
    font-size: var(--text-p);
    text-decoration: none;
    color: var(--secondary);
}
img {
    max-width: 1200px;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    padding: 12px 40px;
    background-color: #3A3A3A;
}
.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar .navbar__link{
    display: block;
    max-width: 480px; 
    transition: all .3s ease-in-out;   
}

.navbar .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.menu .menu__link{
    padding: var(--text-p);
    transition: all .3s ease-in-out;

}
.menu .menu__link:hover{
    background-color: #FFFFFF;
    color: #FCB900;
}
.navbar .navbar__link:hover {
    background-color: #FFFFFF;
}
.index {
    display: flex;
    justify-content: center;
    transition: all 1s ease-in;
}
.index:hover {
    color: var(--secondary);
}
.fotos {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.portada {
    display: flex;
    flex-direction: column;
    gap: var(--text-p);
    color: var(--secondary);
}
.portada__item {
    display: inline-block;
    flex-wrap: wrap;
    color:#000000;
}
.index__nosotros {
    display: flex;
    font-size: var(--text-h);
    justify-content: center;
    transition: all 1s ease-out;
}
.index__nosotros:hover {
    color: var(--secondary);
}
.contacto__items {
    padding: 8rem;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: large;
}
.contacto__link {
    color: var(--secondary);
    transition: all .3s ease-in-out; 
}
.contacto__link:hover {
    background-color: #FFFFFF;
    color: #FCB900;
}

.titulo {
    background-image: url(./img/banner_contacto.jpg);
}
.foot {
    padding-right: 2rem;
    font-style: italic var(--thirty-n);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}






@media screen and (max-width: 975px) {
.navbar {
    flex-direction: column;
    align-items: center;
}
.navbar .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
}

